:root {
    --grey: #2a3544;
    --light-grey: #ced5df;
    --white: #fdfdfd;
    --black: #2b3542;
    --light-blue: #7791b1;

    /* LIGHT MODE */

    --background-light-mode: #edf2f9;
    --section-light-mode: #fdfdfd;
    --box-shadow-light-mode: 0 7px 14px 0 rgba(65, 69, 88, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
    --primary-light-mode: #5e6e82;
    --secondary-light-mode: #9fabbc;
    --tertiary-light-mode: #c8d7ec;
    --darkest-color-light-mode: #2b3542;
	--lightest-color-light-mode: #e2e7ee;
    --fav-icon-light-mode:rgb(211, 198, 83);

    /* DARK MODE */

    --background-dark-mode: #0b1727;
    --section-dark-mode: #162433;
    --box-shadow-dark-mode: 0 7px 14px 0 rgba(3, 12, 51, 0.15),
        0 3px 6px 0 rgba(0, 0, 0, 0.2);
    --primary-dark-mode: #9da9bb;
    --secondary-dark-mode: #556274;
    --tertiary-dark-mode: #b1bed1;
    --darkest-color-dark-mode: #131a24;
    --lightest-color-dark-mode: #dae2f0;
    --fav-icon-dark-mode:#dad484;

}
