.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    & img {
        width: 200px;
    }
}

@media (width < 800px) and (width > 700px) {
    .logo-container{
        & img{
            width:150px;
        }
    }
}
