.search-container {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    color: var(--light-grey);
    border: 2px solid transparent;

    & i {
        font-size: .9rem;
        padding: .8rem;
        border-radius: 0.5rem;
        color: var(--light-grey);
    }

    & form {
        width: 100%;
        
        & input {
            width: 100%;
            background-color: transparent;
            border: none;
            font-size: .9rem;
            padding: 0.8rem 0;
            outline: none;
        }

        & input::placeholder {
            color: var(--light-grey);
        }
    }
}

